<% include ./partials/header %>
<% include ./partials/footer %>

<div class="container-fluid">
	<div class="allcenter">
  		<div class="row text-center">
  			<div class="col-md-12">
  				<h1>Hi, I am Shadman</h1>
  			</div>
  		</div>
  		<div class="row">
  				<div class="col-md-6 box">
  					<div class="contentcenter">
  						<i class="fa fa-bandcamp fa-5x white" aria-hidden="true"></i>
  					</div>
  				</div>
  				<div class="col-md-6 box">
  					<div class="contentcenter">
  						<i class="fa fa-bandcamp fa-5x white" aria-hidden="true"></i>
  					</div>
  				</div>
  				<div class="col-md-6 box">
  					<div class="contentcenter">
  						<i class="fa fa-bandcamp fa-5x white" aria-hidden="true"></i>
  					</div>
  				</div>
  				<div class="col-md-6 box">
  					<div class="contentcenter">
  						<i class="fa fa-bandcamp fa-5x white" aria-hidden="true"></i>
  					</div>
  				</div>
  		</div>

  	</div>
</div>